.window-container {
    size: inherit;
    display: flex;
    align-items: center;


}

.window {
    width: 335px;
    height: 80px;
    margin: 34px 34px 20px 34px;
    background-color: #CCEDAC;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}